{{> head}}  
{{> menu}}

<div class="row">
  <div class="col-8">
    <h1>Jhon Zambrano</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem perspiciatis ad enim molestias non a id accusantium, iure amet tempore nemo illum vel magni tempora ullam delectus nisi officiis optio?</p>
  </div>

  <div class="col-4">
    <img src="assets/images/IMG_20191208_211445.jpg" class="img-thumbnail" alt="">
  </div>
</div>

{{> footer}}
